*{
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: #415a77;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;

}

form {
    margin: 2rem 0 1rem 0;

}

form select,button, input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;

}


form input{
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;

    border: 1px solid lightgrey;

}


.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-conatiner img {
    max-width: 2.5rem;

}

.select-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;

}


.select-conatiner select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}


form button{
    background-color: #af4d98;
    color: #fff;
    height: 3rem;
    font-size: 1.2rem;
}
